body{
    background-color: rgb(0, 0, 0);
    background-image: url(./images/fall.gif);
    background-size: 100vw 100vh;
    color:goldenrod;
}
main{
    vertical-align: top;
    padding: 1rem;

}
#cart {
    width: 80%;
    background-color: #00000088;
}
input.form-control{
    max-width: 350px;
}
footer{
    background-color: black;
    color:white
}
.card{
    background-color:#00000088;
    color: white; 
}
.form-control{
    background-color: #00000088;
}