body{
    background-color: rgb(0, 0, 0);
    background-image: url(./images/fall.gif);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    color:goldenrod;
}
main{
    vertical-align: top;
    padding: 1rem;

}
.card{
    display: inline-block;
    min-height: 79vh;
    vertical-align: top;
}
.card-img-top{
    object-fit: cover;
    height: 17.9rem; 
    width: 17.9rem;
}
#cart {
    width: 80%;
    background-color: #00000088;
}
.card-img-top {
    object-fit: cover;
    height: 17.9rem;
    width: 17.9rem;
}
input.form-control{
    max-width: 350px;
}